<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.rcptt.testrail.preference.TestRailPreferencePage"
            id="TestRailPreferencePage"
            name="Test Rail Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.rcptt.launching.testEngineListener">
      <testEngineListener
            class="org.eclipse.rcptt.testengine.testrail.TestRailService">
      </testEngineListener>
   </extension>


</plugin>
