<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension
	      point="org.eclipse.rcptt.core.verificationTypes">
	   <type
	         description="Workspace Verification"
	         eclass="WorkspaceVerification"
	         epackage-uri="http://eclipse.org/rcptt/ctx/workspace"
	         id="org.eclipse.rcptt.verifications.workspace"
	         name="Workspace"
	         canCreate="true"
	         phases="finish"
	         priority="70">
	   </type>
	</extension>
	<extension
	      point="org.eclipse.rcptt.core.verificationMaker">
	   <maker
	         class="org.eclipse.rcptt.verifications.resources.WorkspaceVerificationMaker"
	         type="org.eclipse.rcptt.verifications.workspace">
	   </maker>
	</extension>
	<extension
	      point="org.eclipse.rcptt.core.indexer">
	   <indexer
	         class="org.eclipse.rcptt.verifications.internal.resources.WorkspaceVerificationIndexer">
	   </indexer>
	</extension>
</plugin>
